
body {
    font-family: 'open sans', sans-serif;
    
    }
    
    h1 { 
        font-size: 75px ;
        margin: auto;
    }
    
    h2 {
        font-size: 24px;
    }
    
    p {
        font-size: 16px;
        line-height: 1.7;
    }
    
    img {
        max-width: 100%;
        
        max-height: 100%;
       
    }
    
    #container {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .name {
        width: 98%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      
    }
    .name div {
        width: 49%;
    }
    label {
        display: block;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    input {
        width: 97%;
        margin-bottom: 1vh;
        border: 1px solid black;
        border-radius: 4px;
        
    }
    input:hover{ 
        border: 2px solid black; ;
    }
    select {
        margin-bottom: 1vh;
        width: 97.7%;
        border: 1px solid black;
        border-radius: 4px;
    }
    
    select:hover {
        border: 2px solid black;
    
    }
    
    #content {
        padding-left: 5%;
    }
    
    
    .submit {
        display: block;
        color: white;
        margin-top: 1vh;
        background-color: black;
        padding: 10px 25px;
        border-radius: 4px;
    }
    
    .submit:hover {
        background-color: rgb(71, 70, 70);
        border-color: #ff8a5c;
        box-shadow: 0 0.5em 0.5em -0.4em #ff8a5c;
        transform: translateY(-0.25em);
        cursor: pointer;
         
    }
     
    input:focus::placeholder {
        color: red;
    }
    
    @media (max-width:900px) {
        #container {
            flex-direction: column;
        }
        h1 {
            font-size: 5vh;
        }
        p {
            font-size: 2vh;
        }
        h2 {
            font-size: 4vh;
        }
    }
    
    @media (max-width:600px){
        .name {
            flex-direction: column;
        }
        .name div {
            width: 100%;
        }
    }